    <nav class="navbar navbar-dark bg-dark">
        <a style="color: white"><span></span></a>
        <div class="dropdown">
            <a style="color: white" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> My profile</a>
            <div class="dropdown-menu text-center">
                <a href="profile.html">My profile</a>
                <div class="dropdown-divider"></div>
                <a href="#" onclick="logout()" class="dropdown-item">Salir</a>
            </div>
        </div>
    </nav>